<p>
<h2><%= @style %></h2>
</p>
<p>
  <%= @style.description %>
</p>
<p>
  <ul>
  <% @style.beers.all.each do |b| %>
  <li><%= link_to b%></li>
  <% end %>
  </ul>
</p>
<p>
  <% if current_user %>
  <%= link_to 'Destroy', @style, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end%>
</p>
